#entorno{
    display: block;
    margin: 0;
}

#fondo{
    opacity: 0.3;
}

body{
    background-color: rgb(207, 147, 16);
}

.enlace{
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
}