*.jpg
/ServletHolaMundo/nbproject/private/
/ServletHolaMundo/build/
/JSPEjemplo/nbproject/private/
/JSPEjemplo/build/
/Examen-4IV8-PSW/nbproject/private/
/Examen-4IV8-PSW/build/
/Examen-4IV8-PSW/dist/